@page "/categories"
@inject ICategoryClientService categoryService

<h3>Categories</h3>

@if (getCategoryDtosError)
{
    <p>Unable to get Categories. Please try again later.</p>
}
else if (categoryDtos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var item in categoryDtos)
        {
            @*<li><a href="/category/@item.Id">@item.CategoryName</a></li>*@
            <li><a href="/category/@item.Id"><Category Id="@item.Id.ToString()"></Category></a></li>
        }
    </ul>
}

@code {
    private List<CategoryDto> categoryDtos;
    private bool shouldRender;
    private bool getCategoryDtosError;



    protected override bool ShouldRender() => shouldRender;

    protected override async Task OnInitializedAsync()
    {
        categoryDtos = await categoryService.GetAllActive();

        if (categoryDtos == null)
        {
            getCategoryDtosError = true;
        }

        shouldRender = true;
    }

}
