@page "/category/{id}"
@inject ICategoryClientService categoryService

@if (categoryDto == null)
{
    <p><em>Loading...</em></p>
}
else if (getCategoryDtoError)
{
    <p>Unable to get Categories. Please try again later.</p>
}
else
{
    <ul>
        <li>@categoryDto.CategoryName</li>
        @if (categoryDto.SubCategories == null)
        {
            <li><em>Loading...</em></li>
        }
        else
        {
            @foreach (var item in categoryDto.SubCategories)
            {
                <li><a href="/subcategory/@item.Id"><SubCategory Id="@item.Id.ToString()" /></a></li>
            }
        }
    </ul>
}

@code {
    private CategoryDto categoryDto;
    private bool shouldRender;
    private bool getCategoryDtoError;

    [Parameter]
    public string Id { get; set; }


    protected override bool ShouldRender() => shouldRender;

    protected override async Task OnInitializedAsync()
    {
        categoryDto = await categoryService.GetbyId(Convert.ToInt32(Id));
        if (categoryDto == null)
        {
            getCategoryDtoError = true;
        }

        shouldRender = true;
    }
}
