@page "/categories"
@inject IHttpClientFactory ClientFactory

<h3>Categories</h3>

@if (getCategoryDtosError)
{
    <p>Unable to get Categories. Please try again later.</p>
}
else if (categoryDtos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var item in categoryDtos)
        {
            <li><a href="/category/@item.Id">@item.CategoryName</a></li>
        }
    </ul>
}

@code {
    private List<CategoryDto> categoryDtos;
    private bool shouldRender;
    private bool getCategoryDtosError;



    protected override bool ShouldRender() => shouldRender;

    protected override async Task OnInitializedAsync()
    {
        var client = ClientFactory.CreateClient();

        var request = new HttpRequestMessage(HttpMethod.Get,
        "https://localhost:44353/api/categories/getallactive");

        var response = await client.SendAsync(request);

        if (response.IsSuccessStatusCode)
        {
            using var responseStream = await response.Content.ReadAsStreamAsync();
            categoryDtos = await JsonSerializer.DeserializeAsync
                <List<CategoryDto>>(responseStream);
        }
        else
        {
            getCategoryDtosError = true;
        }

        shouldRender = true;
    }

}
