@page "/accounts/forgotpassword"
@inject IAccountClientService accountService
@inject NavigationManager navManager

<div class="col-sm-6 mx-auto">
    <h3 class="text-center">
        Şifremi Unuttum
    </h3>
    <EditForm Model="@forgotPasswordModel" OnValidSubmit="@Submit">
        <DataAnnotationsValidator />

        <div class="mb-3">
            <label for="email" class="col-form-label">Mail Adresi</label>
            <InputText id="email" @bind-Value="forgotPasswordModel.Email" class="form-control" />
            <ValidationMessage For="() => forgotPasswordModel.Email" class="invalid-feedback" />
        </div>
       
        <button type="submit" class="btn btn-primary">Yeni Şifre Talebi</button>
    </EditForm>
</div>

@code {

    public ForgotPasswordModel forgotPasswordModel = new ForgotPasswordModel();

    private async Task Submit()
    {
        forgotPasswordModel.URL = "https://localhost:44355/accounts/changepassword/";
        var result = await accountService.ForgotPassword(forgotPasswordModel);

        if (result)
        {

            navManager.NavigateTo("/");
        }
        else
        {
            navManager.NavigateTo("/error");
        }
    }

}
